<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJAaf02j7NatR95otM4VXcvZ7fYBjsRpU</string>
	<key>GCM_SENDER_ID</key>
	<string>1011518387589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LivingLink.livinglink</string>
	<key>PROJECT_ID</key>
	<string>livinglink-794c5</string>
	<key>STORAGE_BUCKET</key>
	<string>livinglink-794c5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011518387589:ios:253e2fd5f91f7e431740ec</string>
</dict>
</plist>